.contact {
    background-image: url('../images/background.jpg');
    height: 90vh;
    width: 100%;
    
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'titillium web', sans-serif;
    padding: 50px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    
}
body{
    padding: 0;
    margin: 0;
}

.header {

    display: flex;
    justify-content: space-between;
    align-items: center;


}

.header-text {
    text-align: left;
    font-size: larger;

}

#portfolio {
    position: relative;
    animation: slideToLeft 1s ease forwards;
    animation-timeline: view();
    animation-range:entry 0% cover 40%;
}

@keyframes slideToLeft {
    from {
        left: 100px;
        opacity: 0;
    }

    to {
        left: 0;
        opacity: 1;
    }
}

#about {
    position: relative;
    animation: slideToRight 1s ease forwards;
    animation-timeline: view();
    animation-range:entry 0% cover 40%;
}

@keyframes slideToRight {
    from {
        right: 100px;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}

.name {
    font-size: 60px;
    padding-top: 20px;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transform: scale(0.8);
    animation: fadeIn 2s ease-in forwards;
    animation-timeline: view();
    animation-range:entry 0% cover 40%;
    animation : beat 1.5s infinite;

}
@keyframes beat {
    0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
    
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.footer {
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    
}



